<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      
         <add name="SistemadeTaller.Properties.Settings.TALLERConnectionString"
            connectionString="Data Source=DESKTOP-BI5616B\SQLEXPRESS;Initial Catalog=TALLER;Integrated Security=True"
            providerName="System.Data.SqlClient" />
         
      <!-- COPIA TALLER-->
        <!--
         <add name="SistemadeTaller.Properties.Settings.TALLERConnectionString"
            connectionString="Data Source=DESKTOP-BI5616B\SQLEXPRESS;Initial Catalog=COPIATALLER;Integrated Security=True"
            providerName="System.Data.SqlClient" />
         -->
      <!--
       <add name="SistemadeTaller.Properties.Settings.TALLERConnectionString"
            connectionString="Data Source=SECRETARIA-2\SQLEXPRESS;Initial Catalog=Taller;Integrated Security=True"
            providerName="System.Data.SqlClient" />
            -->
      <!--Taller old-->
      <!--
         <add name="SistemadeTaller.Properties.Settings.TALLERConnectionString"
           connectionString="Data Source=AGENCIA2\SQLEXPRESS;Initial Catalog=TALLER;Integrated Security=True"
           providerName="System.Data.SqlClient" /> 
           -->
        <!--Taller new-->
        <!--
         <add name="SistemadeTaller.Properties.Settings.TALLERConnectionString"
           connectionString="Data Source=DESKTOP-DN26QVQ\SQLEXPRESS;Initial Catalog=Taller;Integrated Security=True"
           providerName="System.Data.SqlClient" /> 
          -->
    </connectionStrings>
</configuration>